form{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;


}
input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 1em;
    background: purple;
    color: #fff;
}
textarea{
    background: purple;
    color: #fff ;   
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 1em;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #036673;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}